################################
# OS / System files
################################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

################################
# Windows NTFS alternate streams
################################
*:Zone.Identifier

################################
# Editor / IDE files
################################
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln